<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>The Daily Grind</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   
   <center>
   <h1>The Daily Grind</h1>
   <h2>The easy way to find coffee houses near you!</h2>
   <form method = "post" action = "/results">
    <h3> Please choose where you would like to get coffee:
     <br>
     <div align = "center">
     <input type = "radio" name = "area" value = "Rosedale">Rosedale
     <input type = "radio" name = "area" value = "Downtown">Downtown
     <input type = "radio" name = "area" value = "Rollingwood">Rollingwood
     <input type = "radio" name = "area" value = "Soco">Soco
     <input type = "radio" name = "area" value = "Hyde Park">Hyde Park
     <input type = "radio" name = "area" value = "East Austin">East Austin
       </h3> 
       <input type = "submit" value = "Find coffee!"> 
       
     </div>
   </form>
     </center>

 
 </body>
</html>